@import "../main/var";

.promo{
	position: relative;
	height: 210px;
	overflow: hidden;

	&__image{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&__link{
		position: absolute;
		z-index: 10px;
		top: 0;
		left: 20px;
		width: 90px;
		height: 45px;
		border-radius: 0 0 45px 45px;
		background: fadeout(@c-base, 50%);

		&:before{
			content: '';
			position: absolute;
			top: 5px;
			left: 30px;
			width: 30px;
			height: 30px;
			border-top: 1px solid @c-white;
			border-left: 1px solid @c-white;
			transform: scaleY(0.5) rotate(45deg);
		}
	}

	&__service{
		color: @c-white;
		background: @c-base;
		border-radius: 7px 7px 0 0;
		display: block;
		line-height: 30px;
		padding: 5px 10px;
		text-decoration: none;
		text-transform: uppercase;
		position: absolute;
		bottom: 0;
		right: 20px;
		z-index: 10;
	}
}