@import "../main/var";

.news{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 30px;

	&__item{
		width: 240px;
		margin: 20px 0;
	}

	&__image{
		height: 240px;
		position: relative;
	}

	&__img{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: auto;
		width: auto;
		height: auto;
		max-width: 240px;
		max-height: 240px;
	}

	&__date{
		margin: 20px 0;
		border-bottom: 2px solid @c-base;
		width: 50%;
		color: @c-base;
		font-size: 16px;
		padding-bottom: 5px;
	}

	&__button{
		margin-top: 20px;
		padding: 0 15px;
		text-align: center;
		line-height: 34px;
		border-radius: 7px;
		border: 1px solid @c-base;
		display: block;
		text-decoration: none;
		color: @c-base;
		text-transform: uppercase;
		font-size: 16px;
		cursor: pointer;

		&:hover{
			background: @c-base;
			color: @c-white;
		}
	}
}