<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
      <link rel="stylesheet" href="css/main.css" />
      <link href='https://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
      <title>{% block title %}{% endblock %} - Premier Clinik</title>
      <meta charset='utf-8'>
      <meta http-equiv='X-UA-Compatible' content='IE=edge'>
      <meta name='description' content=''>
	  <meta name='viewport' content='width=device-width, initial-scale=1'>
    {% endblock %}
</head>
<body class="page">
    <div class="page__inner">
      <div class="header">
        {% block header %}
          {% include 'header.html' %}
        {% endblock %}
      </div>
      {% block promo %}
      <div class="container">
        <div class="promo">
          <img class="promo__image" src="/images/promo.jpg" />
          <a href="#" class="promo__link"></a>
          <a href="#" class="promo__service">Посмотреть услугу</a>
        </div>
      </div>
      {% endblock %}
      {% block content %}{% endblock %}
      <div class="page__footer"></div>
    </div>
    <div class="footer">
      {% block footer %}
        {% include 'footer.html' %}
      {% endblock %}
    </div>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="ui/customCarousel/customCarousel.js"></script>
    <script src="ui/fancybox/fancybox.js"></script>
    {% block script %}{% endblock %}
    <script src='js/main.js'></script>
</body>
</html>