{% set footer = {
    "contact": "г. челябинск, ул. Бр.кашириных, 121", 
    "icons": [
      {"ico": "vk", "link": "#"},
      {"ico": "fb", "link": "#"},
      {"ico": "phone", "text": "+7 351 890 78 67"}
    ]
} %}

<div class="container">
  <div class=" footer__table">
  	<div class="footer__cell">
      <a href="/" class="footer__logo">
        <img src="/images/logo-footer.png" alt="Premier Clinik" />
      </a>
    </div>
    <div class="footer__cell">
      <ul class="footer__list">
        {% for item in footer.icons -%}
          <li class="footer__item">
            {% if item.link %}
              <a href="{{item.link}}" class="footer__ico footer__ico_{{item.ico}}"></a>
            {% else %}
              <span class="footer__ico footer__ico_{{item.ico}}">{{item.text}}</span>
            {% endif %}
          </li>
        {%- endfor %}
      </ul>
    </div>
    <div class="footer__cell">
      <div class="footer__contact">{{footer.contact}}</div>
    </div>
  </div>
</div>