{% set menu = {
	"menu1": [
	    {"href": "#", "title": "о нас", "active": true},
	    {"href": "#", "title": "команда"},
	    {"href": "#", "title": "контакты"},
	    {"href": "#", "title": "Новости"}
	],
	"menu2": [
	    {"href": "#", "title": "история"},
	    {"href": "#", "title": "галерея"},
	    {"href": "#", "title": "primier-сервис"},
	    {"href": "#", "title": "улсуги", "status": true}
	]
} %}
<div class="container clearfix menu menu_header">
	<div class="header__shadow"></div>
	<ul class="menu__list">
	    {% for item in menu.menu1 -%}
	      <li class="menu__item {% if item.active %} menu__item_active {% endif %}">
	        <a href="{{item.href}}" class="menu__link">{{item.title}}</a>
	      </li>
	    {%- endfor %}
	</ul>
	<a href="/" class="header__logo">
		<img src="images/logo.png" alt="Premier Clinik" />
	</a>
	<ul class="menu__list">
	    {% for item in menu.menu2 -%}
	      <li class="menu__item {% if item.active %} menu__item_active {% endif %} {% if item.status %} menu__item_attention {% endif %}">
	        <a href="{{item.href}}" class="menu__link">{{item.title}}</a>
	      </li>
	    {%- endfor %}
	</ul>
</div>