@import "../main/var";

.contact{
 	&__content{
 		float:left;
 		width: 300px;
 		margin-bottom: 30px;
 	}

 	&__wrapper{
 		padding-left: 340px;
 	}

 	&__title{
 		background: url(../images/icon-contact.png) no-repeat left top;
 		line-height: 41px;
 		padding-left: 60px;
 		text-transform: uppercase;
 		font-size: 18px;
 		color: @c-base;
 	}

 	&__text{
 		padding-top: 10px;
 		color: #a6a7aa;
 		font-size: 18px;
 		line-height: 1.8em;

 		.purpur{
 			color: #ac90c0;
 		}

 		.footer__ico{
 			display: inline-block;
 		}
 	}

 	&__line{
 		padding-bottom: 25px;
 	}

 	&__mail{
 		color: #a6a7aa;
 		text-decoration: none;
 	}

 	&__period{
 		color: #a6a7aa;
 		text-transform: uppercase;
 		margin-top: 40px;
 		font-size: 18px;
 	}

 	&__map{
 		height: 380px;
 	}
}