@import "../main/var";

.gallery{
	&__wrapper{
		height: 520px;
		overflow: hidden;
		position: relative;
	}

	&__list{
		margin: 0 10px;
		position: relative;
		z-index: 0;
	}

	&__arrow{
		position: absolute;
		z-index: 10;
		top: 0;
		bottom: 0;
		width: 40px;

		&:before{
			content: '';
			position: absolute;
			background: @c-line;
			height: 40px;
			top: 50%;
			left: 0;
			right: 0;
			margin-top: -20px;
		}

		&:after{
			content: '';
			position: absolute;
			top: 50%;
			width: 20px;
			height: 20px;
			border-left: 1px solid @c-base;
			border-bottom: 1px solid @c-base;
			transform-origin: top left;
		}

		&_prev{
			left: 0;

			&:after{
				transform: translate(125%, -70%) rotate(45deg);
			}
		}

		&_next{
			right: 0;

			&:after{
				transform: translate(75%, 70%) rotate(-135deg);
			}
		}
	}

	&__count{
		text-align: center;
		color: #909090;
		font-size: 11px;
		margin: 10px 10px 50px;
	}

	&__index{
		font-size: 18px;
	}
}