@import "../main/var";

.team{
	padding: 10px 0 20px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&__item{
		width: 240px;
		text-decoration: none;
		margin: 20px 0;
		text-align: center;
		color: @c-black;

		span{
			display: block;
		}
	}

	&__image{
		position: relative;
		overflow: hidden;
		height: 180px;
	}

	&__img{
		position: absolute;
		top: 50%;
		left: 50%;
		width: auto;
		height: auto;
		max-width: 100%;
		transform: translate(-50%, -50%);
	}

	&__title{
		background: #d6cae1;
		color: @c-purpur;
		padding: 10px;
		font-size: 16px;
	}

	&__separator{
		margin: 20px 0;
		width: 50%;
		border-bottom: 2px solid @c-base;
	}

	&__desc{
		color: @c-base;
		font-size: 16px;
		padding: 0 10px 20px;

		&:before,
		&:after{
			content: "\"";
		}
	}
}