@import "var";

html, body{
	height: 100%;
}

p{
    margin-bottom: 1em;
    text-indent: 1em;
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6{
    margin: 30px 0;
    padding: 0 180px;
    position: relative;
    display: inline-block;
    font-size: 24px;
    text-transform: uppercase;
    color: @c-base;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;

    &:before,
    &:after{
        content:"";
        position: absolute;
        top: 50%;
        margin-top: -1px;
        height: 2px;
        width: 170px;
        background: @c-line;
    }

    &:before{
        left: 0;
    }

    &:after{
        right: 0;
    }

    small{
        font-size: 14px;
        display: block;
        margin-bottom: 5px;
    }
}

h1{
    font-size: 30px;
}

.page{
    color: @c-black;
    background: @c-white;
    font: 14px/1.2 Arial, sans-serif;
    -webkit-font-smoothing: antialiased;

    &__inner{
        min-height: 100%;
    }

    &__footer{
    	height: 85px;
    }

    &__content{
        padding-left: 270px;
    }

    &__image{
        text-align: center;
        margin-bottom: 30px;

        img{
            width: auto;
            height: auto;
            max-width: 100%;
        }
    }

    &__group{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    &__item{
        margin: 0 15px 15px;
    }
}

.panel{
    &_grey{
        background: @c-menu-left;
    }
}

.text{
    padding-bottom: 30px;

    &__image{
        padding-bottom: 30px;
    }
}

.promo{
    &__image{
        display: block;
    }
}

.container{
    width: 1000px;
    min-width: 1000px;
    margin: 0 auto;
}

.text-block{
    padding: 10px 0;
    
    h1, h2, h3, h4, h5, h6{
        text-indent: 30px;
        margin: 0;
        padding: 5px 0;
        font-size: 18px;
        line-height: 1;
        display: block;
        text-align: left;
        position: static;
        transform: translateX(0);

        &:before,
        &:after{
            display: none;
        }
    }

    h4, h5, h6{
        padding: 0 0 25px;
        font-size: 16px;
        font-weight: 400;
        text-transform: lowercase;
    }

    p{
        text-indent: 0;
    }

    i{
        color: @c-base;
        display: inline-block;
        font-style: italic;
        text-indent: 30px;
        font-size: 18px;
    }
}

.text-service{
    h1,h2,h3{
        font-size: 30px;
    }
    h4, h5,h6{
        font-style: italic;
    }

    p{
        text-indent: 2em;
    }

    ul{
        margin: 1em 0 .5em;
        font-size: 16px;
        list-style: square;
        padding-left: 2em;
        color: @c-line;

        li {
            padding-bottom: .5em;
            span{
                color: @c-black;
            }
        }
    }
}

.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
.clearfix {
    zoom:1; /* Хак для IE 6 и 7 */
}