@c-black: #000000;
@c-white: #ffffff;
@c-base: #784e9a;
@c-line: #a8a2f5;
@c-grey: #58595b;
@c-dark: #272525;
@c-lightgrey: #909090;
@c-menu-left: #dcdcdc;
@c-violet: #d6cae1;
@c-bg: #ebebeb;
@c-purpur: #4c2d75;