@import "../main/var";

.footer{
	margin-top: -85px;
	padding: 10px 0;
	height: 65px;
	background: @c-base;

	&__table{
		display: table;
		width: 100%;
	}

	&__cell{
		display: table-cell;
		vertical-align: middle;
		height: 65px;

		&:first-child{
			width: 280px;
		}
	}

	&__logo{
		display: inline-block;
	}

	&__item{
		display: inline-block;
		vertical-align: top;
		padding-right: 30px;
		color: @c-purpur;
	}

	&__ico{
		display: block;
		line-height: 28px;
		height: 28px;
		padding-left: 45px;
		background-image: url(/images/icon.png);
		background-repeat: no-repeat;

		&_vk{
			background-position: top left;
		}

		&_fb{
			background-position: left -28px;
		}

		&_phone{
			background-position: left -56px;
		}
	}

	&__contact{
		text-transform: uppercase;;
		color: @c-white;
		text-align: right;
	}
}