{% extends "base.html" %}

{% set page = {
  "title": "О нас",
  "text": "<h2>МЫ НЕ КОПИРУЕМ МЕТОДИКИ ДРУГИХ</h2><h4>медицинских центров, </h4><p>мы внедряем самые новые подходы в медицине, перенимая опыт флагманов России и Запада, адаптируя каждый метод под реалии жизни в нашем регионе. </p><h2>МЫ ПРИЗНАЕМ</h2><h4>индивидуальность в медицине. </h4><p>Для нас нет 2 одинаковых клинических случаев, 2 одинаковых «историй болезни», мы видим в-первую очередь – человека, которому нужно помочь сохранить и приумножить здоровье, молодость, красоту, счастье. Именно счастье наших пациентов – конечная цель всего, что мы делаем каждый день.</p><h2>МЫ ХОТИМ</h2><p>быть рядом с каждым нашим пациентом, когда ему нужна наша помощь. Мы знаем все о молодости, здоровье, красоте и у нас есть огромное желание, технологии и инструменты, чтобы взять вас за руку и повести в вашу новую здоровую, молодую, счастливую жизнь.</p><i>Premier clinic</i><h2>ОПЫТ. ТЕРПЕНИЕ. УВЛЕЧЕННОСТЬ.</h2>",
  "breadcrumbs": [
  	{"title": "Главная", "link":"/"}
  ],
  "sert": [
  	{"big": "/images/big-sert.jpg", "image": "/images/sert1.jpg", "title": "sert1"},
  	{"big": "/images/big-sert.jpg", "image": "/images/sert2.jpg", "title": "sert2"},
  	{"big": "/images/big-sert.jpg", "image": "/images/sert3.jpg", "title": "sert3"}
  ]
} %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
	<div class="container">
		<ul class="bread-crumbs">
			{% for item in page.breadcrumbs -%}
				<li>
					<a href="{{item.link}}">{{item.title}}</a>
				</li>
				<li>/</li>
			{% endfor %}
			<li>{{page.title}}</li>
		</ul>
		<h1>{{ page.title }}</h1>
	</div>
	<div class="text-block panel_grey">
		<div class="container">
			{{ page.text }}
		</div>
	</div>
	<div class="container sert">
		{% for item in page.sert -%}
			<a href="{{item.big}}" class="sert__item" rel="sert">
				<img src="{{item.image}}" class="sert__image" alt="{{item.title}}"/>
			</a>
		{% endfor %}
	</div>
{% endblock %}