{% extends "base.html" %}

{% set page = {
  "title": "как нас найти",
  "breadcrumbs": [
  	{"title": "Главная", "link":"/"}
  ],
  "period": "Клиника работает ежедневно с 9:00 до 22:00",
  "content":[
  	{"icon": "map", "title": "НАШ АДРЕС", "text": "<div class='purpur'>г. Челябинск</div> ул. Братьев Каширеных, 33"},
  	{"icon": "phone", "title": "телефон", "text": "+7 (351) <span class='purpur'>889 07 65</span> "},
  	{"icon": "mail", "title": "E-MAIL", "text": "<a class='contact__mail' href='mailto:premierclinic74@gmail.com'>premierclinic74@gmail.com</a>"},
  	{"icon": "sotial", "title": "мы в сети", "text": "<a href='#' class='footer__ico footer__ico_vk'></a><a href='#' class='footer__ico footer__ico_fb'></a>"}
  ]
} %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
	<div class="container">
		<ul class="bread-crumbs">
			{% for item in page.breadcrumbs -%}
				<li>
					<a href="{{item.link}}">{{item.title}}</a>
				</li>
				<li>/</li>
			{% endfor %}
			<li>{{page.title}}</li>
		</ul>
		<h1>{{ page.title }}</h1>
	</div>
	<div class="container contact clearfix">
		<div class="contact__content">
			{% for item in page.content -%}
				<div class="contact__line">
					<div class="contact__title contact__title_{{item.icon}}">{{item.title}}</div>
					<div class="contact__text">{{item.text}}</div>
				</div>
			{% endfor %}
		</div>
		<div class="contact__wrapper">
			<div class="contact__map" id="map"></div>
			<div class="contact__period">{{page.period}}</div>
		</div>
	</div>
{% endblock %}


{% block script %}
	<script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock %}