{% extends "base.html" %}

{% set page = {
  "title": "Галерея",
  "breadcrumbs": [
    {"title": "Главная", "link":"/"}
  ],
  "gallery": [
    {"image": "/images/gallery1.jpg", "big": "/images/gallery-big.jpg"},
    {"image": "/images/gallery2.jpg", "big": "/images/gallery-big.jpg"},
    {"image": "/images/gallery1.jpg", "big": "/images/gallery-big.jpg"},
    {"image": "/images/gallery2.jpg", "big": "/images/gallery-big.jpg"},
    {"image": "/images/gallery1.jpg", "big": "/images/gallery-big.jpg"},
    {"image": "/images/gallery2.jpg", "big": "/images/gallery-big.jpg"},
    {"image": "/images/gallery1.jpg", "big": "/images/gallery-big.jpg"},
    {"image": "/images/gallery2.jpg", "big": "/images/gallery-big.jpg"},
    {"image": "/images/gallery1.jpg", "big": "/images/gallery-big.jpg"},
    {"image": "/images/gallery2.jpg", "big": "/images/gallery-big.jpg"}
  ]
} %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
	<div class="container">
    <ul class="bread-crumbs">
      {% for item in page.breadcrumbs -%}
        <li>
          <a href="{{item.link}}">{{item.title}}</a>
        </li>
        <li>/</li>
      {% endfor %}
      <li>{{page.title}}</li>
    </ul>
    <h1>{{ page.title }}</h1>
  </div>
  <div class="container">
    <div class="gallery">
      <div class="gallery__wrapper">
        <a href="#" class="gallery__arrow gallery__arrow_prev"></a>
        <a href="#" class="gallery__arrow gallery__arrow_next"></a>
        <ul class="gallery__list">
          {% set count = 0 %}
          {% for item in page.gallery -%}
            {% set count = count + 1 %}
            <li class="gallery__item">
              <a href="{{item.big}}" class="gallery__link" rel="gallery">
                <img src="{{item.image}}" class="gallery__image">
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="gallery__count">
        <span class="gallery__index">1</span> из {{count}}
      </div>
    </div>
  </div>

{% endblock %}