{% extends "base.html" %}

{% set page = {
  "title": "История",
  "text": "<p>«Сперва договоримся о том, что каждый человек неповторим на земле, я убежден, что и каждая травинка, цветок, дерево, пусть они и одного цвета, одной породы — так же неповторимы, как и все растущее, живущее вокруг нас» Виктор Астафьев.</p><p>Институт персональной медицины – это место, которое объединяет профессионалов уважающих самое особенное, что есть в человеке – его неповторимость, его индивидуальность. Создание клиники персональной медицины – это квинтэссенция уважения к человеческой природе и индивидуальности. Много лет и сил ушло на то, чтобы выстроить стройную структуру клиники, где не прячутся за статистикой и общими рекомендациями, где видят человека, его проблему, где силы всех сотрудников направлены на одну цель – здоровье, счастье, гармония и красота каждого пациента. </p><p>Более 20 лет практической работы специалистов в медицине, глубокое изучение всех передовых направлений, инновационных открытий, методик и подходов – с этого начиналась Premier clinic.</p><p>Для нас нет мелочей, мы кропотливо отбираем из всего нового, что есть в медицине - лучшее, добавляем к этому классическую академическую базу, многолетний опыт, терпение и увлеченность наших врачей – и этот коктейль и есть Premier clinic. Опыт. Терпение. Увлеченность.</p>",
  "image": "./images/big.png",
  "breadcrumbs": [
    {"title": "Главная", "link":"/"}
  ]
} %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
	<div class="container">
    <ul class="bread-crumbs">
      {% for item in page.breadcrumbs -%}
        <li>
          <a href="{{item.link}}">{{item.title}}</a>
        </li>
        <li>/</li>
      {% endfor %}
      <li>{{page.title}}</li>
    </ul>
    <h1>{{ page.title }}</h1>
  </div>
  <div class="container">
    {% if page.image %}
      <div class="page__image">
        <img src="{{page.image}}" alt="{{page.title}}">
      </div>
    {% endif %}

    {{page.text}}
  </div>

{% endblock %}