{% extends "base.html" %}

{% set page = {
  "title": "О клиники",
  "text": "<p>В отличие от амбулатории и здравпункта, поликлиника обладает возможностью оказания спец. медпомощи широкого диапазона, для чего обеспечена врачамиспециалистами и оснащена необходимой леч. и диагностич. аппаратурой и лабораторным оборудованием.</p><p>Важной частью работы поликлиники является диспансеризация: отбор лиц, подлежащих диспансерному наблюдению, нуждающихся в сан.-кур. лечении, спец. лечении, систематич. изучение труда и быта населения. В поликлинике проводится экспертиза временной нетрудоспособности больных, освобождение их от работы по болезни с выдачей листка нетрудоспособности, направление нуждающихся на стационарное лечение, а также направление на врачебнотрудо-вую экспертную комиссию лиц с признаками стойкой утраты трудоспособности. Дети до 14 лет включительно обслуживаются в детских поликлиниках, к-рые также работают по участковому принципу. В целях снижения заболеваемости поликлиники Коломны проводят среди населения большую профилактическую работу.</p>",
  "services": [
  	{"link": "/service.html", "title": "Услуга 1"},
  	{"link": "/service.html", "title": "Услуга 2"},
  	{"link": "/service.html", "title": "Услуга 3"},
  	{"link": "/service.html", "title": "Услуга 4"},
  	{"link": "/service.html", "title": "Услуга 5"},
  	{"link": "/service.html", "title": "Услуга 6"},
  	{"link": "/service.html", "title": "Услуга 7"},
  	{"link": "/service.html", "title": "Услуга 8"}
  ],
  "carousel": [
  	{"link": "/service.html", "text": "Акция<br>на услугу 2", "image": "./images/carousel.jpg"},
  	{"link": "/service.html", "text": "Акция<br>на услугу 4", "image": "./images/carousel.jpg"},
  	{"link": "/service.html", "text": "Акция<br>на услугу 6", "image": "./images/carousel.jpg"},
  	{"link": "/service.html", "text": "Акция<br>на услугу 8", "image": "./images/carousel.jpg"}
  ]
} %}

{% block title %}{{ page.title }}{% endblock %}

{% block promo %}
	<div class="carousel">
		<div class="carousel__wrapper">
			<div class="carousel__top clearfix">
				<div class="carousel__buttons">
					<a href="#" class="carousel__button carousel__button_dark">Записаться онлайн</a>
					<a href="#" class="carousel__button carousel__button_light">Онлайн консультант</a>
				</div>
				<div class="carousel__search">
					<div class="carousel__search-inner">
						<form class="carousel__search-form" action="/" method="get">
							<input type="search" name="search" />
							<input type="submit" value="Искать" />
						</form>
						<button type="button" class="carousel__search-button"></button>
					</div>
				</div>
			</div>
			<div class="carousel__arrows">
				<a href="#" class="carousel__arrow carousel__arrow_prev"></a>
				<a href="#" class="carousel__arrow carousel__arrow_next"></a>
			</div>
			<ul class="carousel__list">
				{% for item in page.carousel -%}
	              <li class="carousel__item">
	                <a href="{{item.link}}" class="carousel__link">
	                	<span class="carousel__image">
	                		<img src="{{item.image}}" alt="{{item.text}}" />
	                	</span>
	                	<span class="carousel__text">{{item.text}}</span>
	                </a>
	              </li>
	            {%- endfor %}
			</ul>
		</div>
		<ul class="carousel__control">
			{% for item in page.carousel -%}
				<li class="carousel__control-item {% if loop.first %} carousel__control-item_active {% endif %}"></li>
			{%- endfor %}
		</ul>
	</div>
{% endblock %}

{% block content %}
	<div class="service panel_grey">
		<div class="container">
			<ul class="service__inner">
				{% for item in page.services -%}
					<li class="service__item">
						<a href="{{item.link}}" class="service__link">
							<span class="service__wrapper">
								<span class="service__title">{{item.title}}</span>
							</span>
						</a>
					</li>
				{%- endfor %}
			</ul>
		</div>
	</div>
	<div class="container promo">
		<img src="/images/home.jpg" alt="" class="promo__image" />
	</div>
	<div class="panel_grey text">
		<div class="container">
			<h1>{{ page.title }}</h1>
			{{ page.text }}
		</div>
	</div>
{% endblock %}