{% extends "base.html" %}

{% set page = {
  "title": "послединие новости",
  "breadcrumbs": [
  	{"title": "Главная", "link":"/"}
  ],
  "news":[
  	{"image": "/images/team-item.jpg", "link": "#","date":"04.12.2016", "text": "Инновации: впервые в России в Premier Clinic"},
  	{"image": "/images/team-item.jpg", "link": "#","date":"04.12.2016", "text": "Инновации: впервые в России в Premier Clinic"},
  	{"image": "/images/team-item.jpg", "link": "#","date":"04.12.2016", "text": "Инновации: впервые в России в Premier Clinic"},
  	{"image": "/images/team-item.jpg", "link": "#","date":"04.12.2016", "text": "Инновации: впервые в России в Premier Clinic"}
  ]
} %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
	<div class="container">
		<ul class="bread-crumbs">
			{% for item in page.breadcrumbs -%}
				<li>
					<a href="{{item.link}}">{{item.title}}</a>
				</li>
				<li>/</li>
			{% endfor %}
			<li>{{page.title}}</li>
		</ul>
		<h1>{{ page.title }}</h1>
	</div>
	<div class="container news">
		{% for item in page.news -%}
			<div class="news__item">
				<div class="news__image">
					<img src="{{item.image}}" alt="{{item.title}}" class="news__img">
				</div>
				<div class="news__date">{{item.date}}</div>
				<div class="news__text">{{item.text}}</div>
				<a href="{{item.link}}" class="news__button">ПОСМОТРЕТЬ НОВОСТЬ</a>
			</div>
		{% endfor %}
	</div>
{% endblock %}