{% extends "base.html" %}

{% set page = {
  "title": "Услуги",
  "text": "<h2>Услуга 3</h2><h4>услуга 3услуга 3услуга 3</h4><p>В отличие от амбулатории и здравпункта, поликлиника обладает возможностью оказания спец. медпомощи широкого диапазона, для чего обеспечена врачамиспециалистами и оснащена необходимой леч. и диагностич. аппаратурой и лабораторным оборудованием.</p><ul><li><span>Важной частью работы поликлиники является диспансеризация: отбор лиц, подлежащих </span></li><li><span>диспансерному наблюдению, нуждающихся в сан.-кур. лечении, спец. лечении, систематич. изучение труда</span></li><li><span>и быта населения. В поликлинике проводится экспертиза временной нетрудоспособности больных, </span></li><li><span>освобождение их от работы по болезни с выдачей листка </span></li><li><span>нетрудоспособности, направление нуждающихся на стационарное лечение, а также направление на врачебнотрудо-вую экспертную комиссию лиц с признаками стойкой утраты трудоспособности. </span></li><li><span>Дети до 14 лет включительно обслуживаются в детских поликлиниках, к-рые также работают по участковому</span></li></ul><p>Важной частью работы поликлиники является диспансеризация: отбор лиц, подлежащих диспансерному наблюдению, нуждающихся в сан.-кур. лечении, спец. лечении, систематич. изучение труда и быта населения. В поликлинике проводится экспертиза временной нетрудоспособности больных, освобождение их от работы по болезни с выдачей листка нетрудоспособности, направление нуждающихся на стационарное лечение, а также направление на врачебнотрудо-вую экспертную комиссию лиц с признаками стойкой утраты трудоспособности. Дети до 14 лет включительно обслуживаются в детских поликлиниках, к-рые также работают по участковому принципу. В целях снижения заболеваемости поликлиники Коломны проводят среди населения большую профилактическую работу.</p>",
  "submenu": [
  	{"link": "#", "title": "Услуга1"},
  	{"link": "#", "title": "Услуга2"},
  	{"link": "#", "title": "Услуга3", "active": true},
  	{"link": "#", "title": "Услуга4"},
  	{"link": "#", "title": "Услуга5"},
  	{"link": "#", "title": "Услуга6"},
  	{"link": "#", "title": "Услуга7"},
  	{"link": "#", "title": "Услуга8"},
  	{"link": "#", "title": "Услуга9"},
  	{"link": "#", "title": "Услуга10"},
  	{"link": "#", "title": "Услуга11"}
  ],
  "breadcrumbs": [
  	{"title": "Главная", "link":"/"},
  	{"title": "Услуги", "link":"/service.html"}
  ]
} %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
	<div class="container">
		<ul class="bread-crumbs">
			{% for item in page.breadcrumbs -%}
				<li>
					<a href="{{item.link}}">{{item.title}}</a>
				</li>
				<li>/</li>
			{% endfor %}
			<li>{{page.title}}</li>
		</ul>
		<h1>{{ page.title }}</h1>
	</div>
	<div class="container clearfix">
		<div class="menu menu_left">
			<ul class="menu__list">
				{% for item in page.submenu -%}
					<li class="menu__item {% if item.active %} menu__item_active {% endif %}">
						<a href="{{item.link}}" class="menu__link">{{item.title}}</a>
					</li>
				{%- endfor %}
			</ul>
        </div>
        <div class="page__content">
        	<div class="text-block text-service">
				{{ page.text }}
			</div>
        </div>
	</div>
{% endblock %}