{% extends "base.html" %}

{% set page = {
  "title": "PREMIER-команда",
  "text": "<img src='/images/team.jpg' class='text__image'><p>мы внедряем самые новые подходы в медицине, перенимая опыт флагманов России и Запада, адаптируя каждый метод под реалии жизни в нашем регионе.</p> <p>Для нас нет 2 одинаковых клинических случаев, 2 одинаковых «историй болезни», мы видим в-первую очередь – человека, которому нужно помочь сохранить и приумножить здоровье, молодость, красоту, счастье. Именно счастье наших пациентов – конечная цель всего, что мы делаем каждый день.</p>",
  "breadcrumbs": [
  	{"title": "Главная", "link":"/"}
  ],
  "team":[
  	{"image": "/images/team-item.jpg", "link": "#", "title": "Ларионова<br>Ольга Петровна", "desc": "Жить хорошая штука,<br>как ни крути", "text": "Кандидат наук, Врач-терапевт, Гинеколог, Имунолог"},
  	{"image": "/images/team-item.jpg", "link": "#", "title": "Ларионова<br>Ольга Петровна", "desc": "Жить хорошая штука,<br>как ни крути", "text": "Кандидат наук, Врач-терапевт, Гинеколог, Имунолог"},
  	{"image": "/images/team-item.jpg", "link": "#", "title": "Ларионова<br>Ольга Петровна", "desc": "Жить хорошая штука,<br>как ни крути", "text": "Кандидат наук, Врач-терапевт, Гинеколог, Имунолог"},
  	{"image": "/images/team-item.jpg", "link": "#", "title": "Ларионова<br>Ольга Петровна", "desc": "Жить хорошая штука,<br>как ни крути", "text": "Кандидат наук, Врач-терапевт, Гинеколог, Имунолог"}
  ]
} %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
	<div class="container">
		<ul class="bread-crumbs">
			{% for item in page.breadcrumbs -%}
				<li>
					<a href="{{item.link}}">{{item.title}}</a>
				</li>
				<li>/</li>
			{% endfor %}
			<li>{{page.title}}</li>
		</ul>
		<h1>{{ page.title }}</h1>
	</div>
	<div class="container text">
		{{ page.text }}
	</div>
	<div class="panel_grey">
		<div class="container team">
			{% for item in page.team -%}
				<a href="{{item.link}}" class="team__item">
					<span class="team__image">
						<img src="{{item.image}}" alt="{{item.title}}" class="team__img">
					</span>
					<span class="team__title">{{item.title}}</span>
					<span class="team__separator"></span>
					<span class="team__desc">{{item.desc}}</span>
					<span class="team__text">{{item.text}}</span>
				</a>
			{% endfor %}
		</div>
	</div>
{% endblock %}