@import "../main/var";

.carousel{
	position: relative;

	&__wrapper{
		overflow: hidden;
		height: 360px;
		position: relative;
	}

	&__arrows{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		width: 1000px;
		margin-left: -500px;
	}

	&__arrow{
		position: absolute;
		top: 0;
		bottom: 0;
		width: 40px;
		z-index: 10;

		&:before{
			content: "";
			width: 50px;
			height: 50px;
			border-bottom: 2px solid @c-base;
			border-left: 2px solid @c-base;
			position: absolute;
			top: 50%;
			left: 0;
		}

		&_prev{
			left: 0;

			&:before{
				transform: translate(0, -50%) scaleX(0.5) rotate(45deg);
			}
		}

		&_next{
			right: 0;

			&:before{
				transform: translate(-25%, -50%) scaleX(0.5) rotate(225deg);
			}
		}
	}

	&__item{
		position: relative;
		width: 100%;
	}

	&__link{
		display: block;
		height: 360px;
		text-decoration: none;
		color: @c-base;
		font-size: 48px;
	}

	&__image{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
		overflow: hidden;

		img{
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	&__text{
		position: absolute;
		top: 50px;
		bottom: 50px;
		left: 50%;
		margin-left: -430px;
		width: 860px;
		z-index: 1;
	}

	&__control{
		text-align: center;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;

		&-item{
			display: inline-block;
			width: 5px;
			height: 5px;
			margin: 0 4px;
			background: @c-base;

			&_active{
				background: @c-line;
			}
		}
	}

	&__top{
		position: absolute;
		top: 10px;
		left: 50%;
		width: 980px;
		margin-left: -490px;
		z-index: 15;
	}

	&__search{
		float:left;
		height: 30px;
		overflow: hidden;

		&-button{
			border: none;
			display: inline-block;
			vertical-align: top;
			width: 30px;
			height: 30px;
			background: url(../images/search.png) no-repeat center; 
			cursor: pointer;
			transition: transform .2s ease-in-out;
		}

		&-form{
			display: inline-block;

			input[type="search"],
			input[type="submit"]{
				padding: 5px 10px;
				line-height: 18px;
				display: inline-block;
				font-size: 14px;
				border-radius: 5px;
				cursor: pointer;
				box-sizing: border-box;
			}

			input[type="search"]{
				width: 200px;
				border: 1px solid fadeout(@c-black, 80%);
			}

			input[type="submit"]{
				border: none;
			}
		}

		&-inner{
			transform: translateX(-275px);
			transition-origin: left center;
			transition: transform .4s ease-in-out;
		}

		&_active{
			.carousel__search-button{
				transform: scale(0);
			}

			.carousel__search-inner{
				transform: translateX(0);
			}
		}
	}

	&__buttons{
		float:right;
		width: 200px;
	}

	&__button{
		display: block;
		line-height: 30px;
		text-transform: uppercase;
		padding: 0 15px;
		margin-bottom: 20px;
		text-align: center;
		text-decoration: none;
		border-radius: 5px;

		&_light{
			background: #dad4cf;
		}

		&_dark{
			color: @c-white;
			background: fadeout(@c-base, 70%);
		}
	}
}