@import "../main/var";

.service{
	padding: 35px 0 20px;

	&__inner{
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}

	&__item{
		width: 160px;
		height: 85px;
		box-sizing: border-box;
		margin: 5px 5px 20px;
	}

	&__link{
		border: 1px solid @c-line;
		padding: 5px;
		width: 160px;
		height: 85px;
		display: block;
		box-sizing: border-box;
		text-decoration: none;
		text-transform: uppercase;
		font-size: 18px;
		color: @c-base;
		position: relative;

		&:hover{
			color: @c-white;
			border-color: @c-base;
			background-image: linear-gradient(-50deg, @c-base 0%, #aa77d3 52%, #784e9b 100%);

			.service__wrapper{
				border: 1px solid @c-white;
			}
		}
	}

	&__wrapper{
		display: flex;
		height: 75px;
		align-items: center;
		position: relative;
		z-index: 1;
		box-sizing: border-box;
	}

	&__title{
		width: 100%;
		text-align: center;
	}
}