@import "../main/var";

.bread-crumbs{
	font-size: 11px;
	color: @c-lightgrey;
	text-transform: uppercase;
	margin-top: 5px;

	li{
		display: inline-block;
	}

	a{
		color: @c-lightgrey;
		text-decoration: none;
		cursor: pointer;

		&:hover{
			text-decoration: underline;
		}
	}

	& + h1{
		margin-top:5px;
	}
}