@import "../main/var";

.menu{
	&_header{
		.menu__list{
			display: flex;
			justify-content: space-between;
			flex-wrap: nowrap;
			width: 435px;
			float: left;
		}

		.menu__link{
			display: block;
			line-height: 30px;
			padding: 5px 10px;
			text-decoration: none;
			text-transform: uppercase;
			color: @c-dark;

			&:hover{
				color: @c-white;
			}
		}

		.menu__item_active{
			.menu__link{
				color: @c-white;
			}
		}

		.menu__item_attention{
			.menu__link{
				color: @c-white;
				background: @c-base;
				border-radius: 7px 7px 0 0;
			}
		}
	}

	&_left{
		float: left;
		width: 250px;
		background: @c-menu-left;

		.menu__list{
			padding: 0 5px;
		}

		.menu__item{
			display: block;
			border-top: 1px solid @c-white;

			&:first-child{
				border-color: @c-menu-left;
			}

			&_active,
			&:hover{
				border-top: 5px solid @c-menu-left;
				border-bottom: 4px solid @c-menu-left;

				.menu__link{
					padding: 1px 25px;
					background: @c-white;
					position: relative;
				}

				& + .menu__item{
					border-color: @c-menu-left;
				}
			}

			&_active{
				.menu__link:before{
					content: "";
					position: absolute;
					width: 5px;
					height: 5px;
					background: @c-line;
					top: 10px;
					left: 10px;
				}
			}
		}

		.menu__link{
			text-transform: uppercase;
			color: @c-base;
			text-decoration: none;
			font-size: 18px;
			line-height: 25px;
			padding: 5px 25px;
			margin: 0 -5px;
			display: block;
		}
	}
}