@import "../main/var";

.header{
	padding-top: 50px;
	height: 40px;
	background: @c-violet;
	border-bottom: 3px solid @c-white;
	position: relative;
	z-index: 1000;

	&__logo{
		float:left;
		display: block;
		height: 40px;
		width: 130px;
		flex-basis: 130px;
		position: relative;
		margin-top: -20px;
		z-index: 1000;

		img{
			display: block;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
		}
	}

	&__shadow{
		position: absolute;
		overflow: hidden;
		top: 100%;
		left: 30%;
		right: 30%;
		margin-top: 3px;
		height: 90px;
		z-index: 900;

		&:before{
			content: "";
			position: absolute;
			width: 80px;
			height: 80px;
			left: 50%;
			top: -63px;
			transform: translateX(-50%);
			border-radius: 50%;
			box-shadow: 0 0 100px 40px @c-violet;
		}
	}
}